the mvp will be send all tables from notebook to sql, then tie those tables together , send it to python and clean it then sned it back to sql and run queries and subqueries

AFTER MVP IS THE EXTRA OF THE BIG QUESTION AND HOW WE JOIN THINGS TOGETHER

PRESENTATION
BIQ QUESTION
WHY WE DECIDDED TO USE THIS TABLE
WHAT QUERIES WE CHOSE TO ANSWER OUR QUESTION


BEFORE,READ THIS BEFORE YOU START(SQLALCHEMY) PUT ALLL TABLES TOGETHER

IDEIAS: TOTAL COST/TIME CONSUMPTION(URGENCY) / EXPERIENCY AND DISPONABILITY

WE WANT TO CREATE NEW COLUMNS WITH SUMDS FROM TWO COLUMNS
WE WANT TO REMOVE THE COLUMNS WE DONT NEED

ENVIROMENTS

HOW TO ORGNIZE IN A GROUP:
FIRST TASK IS TO READ THE ALCHEMY THING AND PASS TABLE TO A SQL FILE
THEN SECONDLY IS JOIN THEM WITH ERD , SEE HOW TO LINK THEM AND THAT
THRIDLY PASS IT TO PYTHON AND START WRITING CODE TO CLEAN IT




PRO AND CONS

BIG QUESTION: USER, WHAT IS THE IMPORTANCE OF EACH OF THESE OPTIONS FOR YOU WHEN CHOOSING WHERE TO STUDY...
ASSIGN 4 TO 1, 3 TO ANOTHER ,2 TO ANOTHER , 1 TO ANOTHER , 4 BEING THE HIGHEST AND 1 THE LOWEST
OPTIONS....
SPENDING THE LEAST AMOUNT OF MONEY
LOCATION AND ADVENTURE
TIME IT TAKES
QUALITY OF COURSE AND SUCCESS RATE FOR THE JOB
FLEXIBILITY OF TIME(PEOPLE WORKING IR ALREADY STUDYING)

WE ALLOW THE USER TO CHOOSE THE IMPORTANCE AND DEPENDING ON THE A PRE DEFINED RESULT FOR THOSE OPTIONS USER IS PROMT TO CONSIDER A CERTAIN COLUMN OF THE LIST SORTED BY BEST OPTION TO WORST.

IF WE CANT DO ALL THAT AND IS TOO MUCH, FORGET THE USER OPTION, BUT CREATE A TABLE WITH COLUMNS LIKE TOTAL PRICE(SO PRICE OF COURSE + HOTEL(IF NEEDED) + AVE PRICE OF COUNTRY + PAYMENT OPTIONS






PLAN
TUESDAY
BIG QUESTION NEEDED?
DATA LAKE - DROP(USER,COMMENTS)
BACK TO PYTHON
ERD


WEDNSDAY
CHANGING THE TABLES TO THE FORMT WE WANT TO ANSWER BIG QUESTION
SEND AGAIN TO MY SQL
ALL CONECTION (PRIMARY KEY - F KEY)
START QUERIES

THURS
FINISH QUERIES
PRESENTATION

FRIDAY
MOCK PRES

In [2]:
import create_engine

ModuleNotFoundError: No module named 'create_engine'